.login {
  height: 200px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  margin-top: 240px;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 200px;
      height: 30px;
      margin: 10px;
    }
    button {
      width: 200px;
      height: 30px;
      border: none;
      background-color: purple;
      color: white;
      font-weight: bold;
      cursor: pointer;

      width: 60%;
      align-self: center;
      height: 40px;
      border-radius: 10px;
    }
    span {
      font-weight: 12px;
      color: red;
      margin: 10px;
    }
  }
}
.loginPage1 {
  text-decoration: none;
}

.loginPage {
  text-decoration: none;

  width: 200px;
  height: 30px;
  border: none;
  background-color: rgb(15, 160, 15);
  color: white;
  font-weight: bold;
  cursor: pointer;

  align-self: center;

  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
